@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Start slightly below */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* End at the original position */
    }
  }
  
  .animate-float {
    animation: floatIn 0.5s ease-out; /* Duration and easing */
  }
  

  /* Hide the scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
